version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifications_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./infra:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: ./services/api
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"

  worker:
    build: ./services/worker
    env_file: .env
    depends_on:
      - redis
      - postgres

volumes:
  pgdata:
